{% extends 'layout.html' %}

{% block page_title %}{{ post.title }} - 게시물 보기{% endblock %}

{% block body %}
    {% include 'part_detail.html' %}
      <p align = "right"><a  href="{% url 'blog:list' %}" class = "btn btn-primary btn-sm" ><span class="glyphicon glyphicon-th-list" ></span> 글 목록</a></p>
    <div>
      -----------------------------------------------댓글입니다-----------------------------------------------
    {% for comment in comments %}

      <p>{{comment.content}}
        <p align = "right">
          {{comment.created_at}}
          <a href="{% url 'blog:delete_comment' pk=comment.pk %}" class = "btn btn-danger btn-sm" hidden = "true">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span></a>
        </p>
      </p>
    {% endfor %}
    </div>


    <form method="POST" action="{% url 'blog:create_comment' pk=post.pk %}">
        {% csrf_token %}
        <p>
        <input type="text" name="content" value="" size ="147"/>
        <button type="submit" class = "btn btn-warning btn-sm">댓글 달기</button>
        </p>

        <p>

        </p>
    </form>


{% endblock %}
