{% extends 'layout.html' %}

{% block page_title %}{{ post.title }} - 게시물 보기{% endblock %}

{% block body %}
    {% include 'part_detail.html' %}

    {% with comments=post.comment_set.all %}
        {% include 'comment_list.html' %}
    {% endwith %}

    <hr>
    <p class="text-center"><a href="{% url 'blog:modify' post.pk %}">글 수정</a></p>
    <hr>
    <p class="text-center"><a href="{% url 'blog:delete' post.pk %}">글 삭제</a></p>
    <hr>
    <p class="text-center"><a href="{% url 'blog:list' %}">글 목록</a></p>


{% endblock %}


