<!DOCTYPE html>
<html lang="ko">
<head>
    <title>게시물 목록</title>
</head>
<body>
<h1>블로그 목록</h1>
<br/><br/>
{% for post in object_list %}
    <div class="post_container">
        <h3 class="post_title">{{ post.title }}</h3>
        <div class="post_content">{{ post.content }}</div>
        <div>
            <p><span>글 갈래 : </span>{{ post.category.name }}</p>
            <p><span>작성일시 : </span>{{ post.created_at }}</p>
        </div>
    </div>
{% empty %}
    <p>글이 없습니다.</p>
{% endfor %}
</body>
</html>
