{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hskim Blog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          {% for category in categorys %}
            <li {% if params.category == category.pk %}class="active"{% endif %}><a href="{% url 'blog:listing' %}?category={{ category.pk }}">{{ category.name }}</a></li>
          {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block body %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</body>
</html>